.header {
  height: 64px;
  box-shadow: 0 2px 8px #f0f1f2;
  margin-bottom: 50px;
}
.sider {
  min-width: 270px;
  height: 100vh;
  overflow: auto;
}
.content {
  .content-wrapper {
    padding: 0 170px 200px 50px;
    color: #000000a6;
    .loading {
      position: relative;
      left: 50%;
      .spin-example-icon {
        animation: arkSpinRotateExample 1.2s infinite linear;
      }

      @keyframes arkSpinRotateExample {
        to {
          transform: rotate(360deg);
        }
      }
    }
  }
}
.example-h2 {
  line-height: 60px;
}
.example-h3 {
  line-height: 50px;
  margin-top: 30px;
}
.example-p {
  line-height: 30px;
}
.example-ul {
  margin-left: 20px;
  list-style: circle;
  line-height: 30px;
}
.example-code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: #f2f4f5;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  color: #000000a6;
}
